html {
  font-size: 10px; /* base font size for whole document */
  font-family: 'Open Sans', sans-serif, 'Indie Flower', cursive;
  background-color: #360127;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  padding: 20px 0;
  color: #360127;
  text-shadow: 3px 3px 1p black;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
  border: 3px solid blue;
}
